.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 60px);
    /* margin: 0 auto; */
    /* margin-inline: 30px; */
    padding-block: 10px;
    list-style-type: none;

}

.review {
    width: 100%;
    /* background-color: lightcoral; */
    padding-block: 10px;
    text-align: center;
    font-size: 22px; 
    /* margin-block: 10px; */
}

.author {
    padding-bottom: 10px ;
}